@import url('../styles.css');

$recipe-img: 36rem;

#recipe {
  border: 1px solid red;
  width: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    margin-bottom: var(--padding-medium);
  }

  .left {
    flex: 1 1;
  }

  .right {
    border-radius: var(--corner-radius);
    width: $recipe-img;
    overflow: hidden;
    margin-left: var(--padding-big);
  }

  .left .content,
  .right .content {
    padding: var(--padding-small);
  }

  .top {
    .icons {
      //border: 1px solid black;
    }

    .right .img {
      height: $recipe-img;
      width: $recipe-img;
      max-width: 100%;

      img {
        background-color: var(--color-highlight-light-bg);
      }
    }
  }

  .bottom {
  }
}

/* ------------------------------------------------------------------------- */
/*   RESPONSIVE    */

@media screen and (max-width: 520px) {
  #recipe {
    .right {
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  #recipe {
  }
}
