@import url('../styles.css');

$recipe-img: 36rem;

#recipe {
  //border: 1px solid red;
  width: 100%;

  .top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    margin-bottom: var(--padding-medium);
  }

  .left,
  .right {
    padding: 2rem var(--padding-small) var(--padding-small);
    margin-bottom: var(--padding-small);
  }

  .left {
    flex: 1 1;
  }

  .right {
    border-radius: var(--corner-radius);
    width: $recipe-img;
    overflow: hidden;
    margin-left: var(--padding-big);
  }

  .left .content,
  .right .content {
    padding: 0 2.5rem 2.5rem;
  }

  li {
    padding-bottom: var(--padding-small);
  }

  // S P E C I F I C
  .top {
    .icons {
      //border: 1px solid black;
      margin-bottom: var(--padding-small);
    }

    .left {
      border-bottom: 2px solid var(--color-highlight-light);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0;

      .versions {
        //width: 100%;
        //border-bottom: 1px solid red;
        //.bar {
        //  width: 100%;
        //  height: 1rem;
        //  border: 1px solid red;
        //}
        position: relative;

        .heart-tag {
          position: absolute;
          top: -0.5rem;
          left: 0;
        }

        .version {
          background-color: white;
          border-radius: var(--corner-radius) var(--corner-radius) 0 0;
          border-color: var(--color-highlight-light);
          border-bottom: white;
          border-width: 2px;
          border-style: solid solid none;
          padding: 1rem 2rem 0 5rem;
          margin-left: -1rem;
          // making up for the height of the border
          // so the border is covered
          margin-bottom: -2px;
          max-width: 15rem;
        }
      }
    }

    .right {
      padding: 0;

      .img {
        height: $recipe-img;
        //width: $recipe-img;
        max-width: 100%;

        img {
          background-color: var(--color-highlight-light-bg);
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .left {
      //border: 1px solid black;
      margin-bottom: var(--padding-medium);

      .directions {
        //padding-bottom: var(--padding-small);
        border-bottom: 3px dotted var(--color-neutral-medium);

        ul {
          //list-style: none;
          //list-style-image: url(images/bullet.png);
        }
      }

      .notes {
        background-color: var(--color-bg);
        margin-top: var(--padding-medium);

        ul {
          list-style: none;
        }
      }
    }

    .right {
      background-color: var(--color-neutral-light);
      margin-bottom: var(--padding-medium);

      .ingredients {
        .serving-size {
          margin-bottom: var(--padding-medium);
        }

        ul {
          list-style: none;
        }

        li {
          position: relative;
          //padding: 1rem 0;
          display: flex;
          align-items: center;

          input[type='checkbox'] {
            //display: inline-block;
            cursor: pointer;
            margin-left: -2.5rem;
            //padding-right: 1rem;
            width: 3rem;
            //height: 3rem;
          }
        }
      }
    }
  }
}

/* ------------------------------------------------------------------------- */
/*   RESPONSIVE    */

@media screen and (max-width: 520px) {
  #recipe {
    .right {
      margin-left: 0;
    }

    .top .left {
      order: 1;
    }

    .bottom {
      .left {
        order: 1;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #recipe {
  }
}
