@import url('../styles.css');

#recipe-filter {
  padding: var(--padding-small);
  background-color: var(--color-bg);
  min-width: 21.5rem;
  margin-right: var(--padding-big);
}

#recipe-filter svg {
  display: inline;
}

#recipe-filter .cooking-time,
.serving-size {
}

.filter-title {
  margin-bottom: var(--padding-small);
  /*border: 1px solid black;*/
  display: flex;
}

.filter-title h6 {
  margin-left: 0.7rem;
}

#recipe-filter .filter-slider {
  width: 100%;
  min-height: 5rem;
  background-color: var(--color-highlight-light-bg);
  padding: 0 0.5rem;
  margin-bottom: var(--padding-big);
}
