@import url('../styles.css');

#overview .heart-tag {
  background-color: var(--color-neutral-medium);
}

#overview .heart-tag:after {
  border-top: 1rem solid var(--color-neutral-medium);
}

#recipe .heart-tag {
  background-color: var(--color-highlight-medium);
}

#recipe .heart-tag:after {
  border-top: 1rem solid var(--color-highlight-medium);
}

.heart-tag {
  border-radius: 5px 5px 0 0;
  height: 3.5rem;
  width: 3rem;
  position: absolute;
  top: -5px;
  left: var(--padding-small);
  padding: 1rem 0 0 0;
}

.heart-tag:after {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 0;
  height: 0;
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  border-top: 1rem solid var(--color-highlight-medium);
}

.heart-outline-icon svg {
  margin: 0 auto;
  /*padding-top: 10%;*/
}
