@import url('../styles.css');

.input-range {
  /*border: 1px solid black;*/
}

.input-range__slider {
  appearance: none;

  /*  thumb */
  background: var(--color-highlight-medium);
  border: 3px solid var(--color-highlight-medium);
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 1.6rem;
  width: 1.6rem;
  margin-left: -0.8rem;
  margin-top: -0.95rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.input-range__slider:active {
  transform: scale(1.2);
}

.input-range__slider:focus {
  box-shadow: 3px 3px 0 5px var(--color-highlight-medium);
}

.input-range--disabled .input-range__slider {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: none;
  transform: none;
}

.input-range__slider-container {
  transition: left 0.3s ease-out;
}

.input-range__label {
  transform: translateZ(0);
  white-space: nowrap;
}

.input-range__label--min,
.input-range__label--max {
  bottom: -2.3rem;
  position: absolute;
}

.input-range__label--min {
  left: 0;
}

.input-range__label--max {
  right: 0;
}

.input-range__label--value {
  position: absolute;
  top: -3rem;
}

.input-range__label-container {
  left: -50%;
  position: relative;
}

.input-range__label--max .input-range__label-container {
  left: 50%;
}

.input-range__track {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.4rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range--disabled .input-range__track {
  background: #eeeeee;
}

.input-range__track--background {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.input-range__track--active {
  background: var(--color-highlight-dark);
}

.input-range {
  height: 1rem;
  position: relative;
  width: 100%;
}
