@import url('../styles.css');

#overview {
  display: flex;

  h2 {
    margin-bottom: var(--padding-medium);

    span {
      font-size: 1.8rem;
      font-weight: normal;
      text-transform: none;
      margin-left: 1rem;
    }
  }

  .user-recipes {
  }
}
