@import url('./styles.css');

header {
}

header .main-menu {
  background-color: var(--color-highlight-light-bg);
  width: 5rem;
  height: 10rem;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  /*border: 3px solid rgba(0, 0, 0, .2);*/
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1), 5px 2px 8px rgba(0, 0, 0, 0.3);
}

.main-menu div {
  position: absolute;
  bottom: 0;
  padding-bottom: 0.8rem;
}
