@import url('./styles.css');
@import url('./typography.css');

/* ------------------------------------------------------------------------- */
/*      V A R I A B L E S       */
/* ------------------------------------------------------------------------- */

html {
  /*  S I Z E S  */
  --main-width: 102.4rem;
  --padding-small: 1.5rem;
  --padding-medium: 3rem;
  --padding-big: 5rem;

  --recipe-card-height: 15rem;
}

/* ------------------------------------------------------------------------- */
/*      M A I N         */
/* ------------------------------------------------------------------------- */

main {
  margin: 0 auto;
  max-width: 100%;
  width: var(--main-width);
  min-height: 100vh;
  padding: 10rem var(--padding-big) var(--padding-big);
  border: 1px solid red;
}

/* ------------------------------------------------------------------------- */

svg {
  /* svgs are by default inline */
  display: block;
}

/* ------------------------------------------------------------------------- */

.recipes-and-filter {
  display: flex;
}

.recipes-and-filter h2 {
  margin-bottom: var(--padding-medium);
}

.recipes-and-filter h2 span {
  font-size: 1.8rem;
  font-weight: normal;
  text-transform: none;
  margin-left: 1rem;
}

#recipes {
  padding: var(--padding-small);
}

/*   R E C I P E S    */

#recipes {
  width: 100%;
}

.recipe-grid {
  /*border: 1px solid black;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipe-card {
  transition: 0.3s ease-in-out;
  background-color: var(--color-neutral-light);
  border-radius: var(--corner-radius);
  height: var(--recipe-card-height);
  margin-bottom: var(--padding-medium);
  max-width: 100%;
  min-width: 29rem;
  width: 48%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px var(--color-neutral-medium);
}

.recipe-card-title {
  flex: 1 1;

  padding: var(--padding-small);
  height: calc((var(--recipe-card-height)) - 3.5rem);
  /*border: 1px solid black;*/
  max-width: var(--recipe-card-height);
  position: relative;
  display: flex;
  align-items: flex-end;
}

.recipe-card-title p {
  /*align-self: flex-end;*/
  font-family: DisplayRegular, 'Helvetica', 'Arial', sans-serif;
  font-size: 2.2rem;
  /*position: absolute;*/
  /*bottom: 0;*/

  /* truncating the title ... */
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}

.recipe-card .recipe-thumb {
  height: 100%;
  width: var(--recipe-card-height);
  background-color: var(--color-neutral-medium);
  border-radius: var(--corner-radius);
  overflow: hidden;
  /*background: url(bglines.png);*/
}

.recipe-card .recipe-thumb img {
  max-width: 100%;
  height: auto;
}

/* ------------------------------------------------------------------------- */
/*   RESPONSIVE    */

@media screen and (max-width: var(--main-width)) {
}

/*@media screen and (min-width: 1280px) {*/
/*    html {*/
/*        font-size: 13px;*/
/*    }*/
/*}*/
/* ------------------------------------------------------------------------- */
