@import url('./styles.css');

/* ------------------------------------------------------------------------- */
/*      V A R I A B L E S       */
/* ------------------------------------------------------------------------- */

html {
  /*  S I Z E S  */
  --main-width: 1024px;
}

/* ------------------------------------------------------------------------- */
/*      M A I N         */
/* ------------------------------------------------------------------------- */

main {
  border: 2px solid red;
  max-width: var(--main-width);
  min-height: 100vh;
}

/* ------------------------------------------------------------------------- */
/*   RESPONSIVE    */

@media screen and (max-width: var(--main-width)) {
}

/*@media screen and (min-width: 1280px) {*/
/*    html {*/
/*        font-size: 13px;*/
/*    }*/
/*}*/
/* ------------------------------------------------------------------------- */
