@import url('./styles.css');
@import url('./typography.css');

/* ------------------------------------------------------------------------- */
/*      V A R I A B L E S       */
/* ------------------------------------------------------------------------- */

html {
  /*  S I Z E S  */
  --main-width: 1024px;
  --main-width-XL: 1200px;
  --main-width-S: 520px;
  --padding-small: 1.5rem;
  --padding-medium: 3rem;
  --padding-big: 5rem;

  --recipe-card-height: 15rem;
}

/* ------------------------------------------------------------------------- */
/*      M A I N         */
/* ------------------------------------------------------------------------- */

main {
  margin: 0 auto;
  width: var(--main-width);
  max-width: 100%;
  min-height: 100vh;
  padding: 10rem var(--padding-big) var(--padding-big);
  /*border: 1px solid red;*/
}

/* ------------------------------------------------------------------------- */

#overview {
  display: flex;
  justify-content: space-between;
  /*flex-wrap: wrap;*/
}

#recipe-filter {
  padding: var(--padding-small);
  background-color: var(--color-bg);
  min-width: 21.5rem;
  margin-right: var(--padding-medium);
}

#recipes {
  padding: var(--padding-small);
  width: 100%;
}

.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ------------------------------------------------------------------------- */
/*   RESPONSIVE    */

@media screen and (max-width: 520px) {
  #overview {
    flex-wrap: wrap;
  }

  #recipe-filter {
    width: 100%;
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  main {
    width: var(--main-width-XL);
  }
}

/*@media screen and (min-width: 1280px) {*/
/*    html {*/
/*        font-size: 13px;*/
/*    }*/
/*}*/
/* ------------------------------------------------------------------------- */
