@import url("./typography.css");
@import url("./resets.css");


/* ------------------------------------------------------------------------- */
/*      V A R I A B L E S       */
/* ------------------------------------------------------------------------- */

html {
    /*  C O L O R S  */

    --color-bg: #F1F2F2;
    --color-text-primary: black;
    --color-text-secondary: #808285;
    --color-dark: black;
    --color-dark-grey: #5D5D5D;
    --color-medium-grey: #BCBEC0;
    --color-light-grey: #E6E7E8;
    --color-white: #FFF;
    --color-highlight: #D4E0E4;

    /*  S I Z E S  */
    --main-width: 1024px;
    --burger-menu-small: 5rem;
}

/* ------------------------------------------------------------------------- */
/*      S H A R E D       */
/* ------------------------------------------------------------------------- */


/*  B U T T O N S  */

a.btn {
    /*border: 1.5px solid var(--color-dark-grey);*/
    /*height: 3rem;*/
    /*width: 100%;*/
    /*padding: 0 3rem;*/
}

a.btn.primary {
    /*background-color: var(--color-text-primary);*/
}

a.btn.secondary {

}


/* ------------------------------------------------------------------------- */
/*      F O R M S       */
/* ------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------ */

main {
    min-height: 100vh;
    width: var(--main-width);
    max-width: 100%;
    padding-top: calc(var(--burger-menu-small) + 1rem);

    /*display: flex;*/
    border: 2px solid red;

}

header {
    background-color: var(--color-light-grey);
    position: fixed;
    top: 0;
    left: 0;

    width: calc(var(--burger-menu-small) + 30rem);
    height: calc(var(--burger-menu-small) + 1rem);
    padding-bottom: 1rem;

    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.site-branding {
    margin-left: 2rem;
}


.burger-menu {
    height: 100%;
    width: var(--burger-menu-small);
    /*border: 1px solid black;*/

    position: relative;
}

.burger-menu .bars {
    position: absolute;
    bottom: 0;
    right: 0;
}

.burger-menu .bar {
    background-color: var(--color-dark-grey);
    width: 3rem;
    height: .3rem;
    margin-top: .5rem;
}

/*****************************************************/

.add-and-recents {
    background-color: var(--color-light-grey);
    height: 20rem;
    margin: 3rem 0;
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    /*align-items: center;*/
}

/*  A D D  */

.add-new {
    align-self: center;
    border: 1px solid red;
    flex: 0 0 25%;

    text-align: center;
}

.add-new .icon {
    margin: 0px auto;
    background-color: var(--color-dark);
    border-radius: 50%;
    color: white;
    font-size: 4rem;

    /*transform: translateY(50%);*/
    height: 6rem;
    width: 6rem;
}

/*  R E C E N T S  */

.recents {
    border: 1px solid black;
    flex: 1 1 75%;
}



