@import url('./typography.css');
@import url('./resets.css');
@import url('./layout.css');

/* ------------------------------------------------------------------------- */
/*      V A R I A B L E S       */
/* ------------------------------------------------------------------------- */

html {
  /*  C O L O R S  */

  --color-bg: #a59b8e;
  --color-white: #fff;

  --color-text-primary: #403e37;
  --color-text-secondary: #5a554d;

  --color-neutral-dark: #403e37;
  --color-neutral-dark-2: #5a554d;
  --color-neutral-medium: #a59b8e;
  --color-neutral-light: #f0e9e3;

  --color-highlight-dark: #0530bf;
  --color-highlight-medium: #0530bf;
  --color-highlight-light: #0530bf;
  --color-highlight-light-bg: #dce1fe;

  /*  R A D I U S  */
  --corner-radius: 10%;
}

/* ------------------------------------------------------------------------- */
/*      S H A R E D       */
/* ------------------------------------------------------------------------- */

/*  B U T T O N S  */

a.btn.primary,
a.btn.secondary {
  border-radius: var(--corner-radius);
}

a.btn.primary {
  background-color: var(--color-highlight);
}

a.btn.secondary {
  border: 1.5px solid var(--color-highlight-dark);
}

/* ------------------------------------------------------------------------- */
/*      F O R M S       */
/* ------------------------------------------------------------------------- */

/* --------------------------------------------------------- */

header {
}

/*****************************************************/

/*  A D D  */

/*  R E C E N T S  */
