/* I N F O
you need to have a CSS file imported from JS. For example, by default src/index.js imports src/index.css:
import './index.css'; A CSS file like this goes through the build pipeline, and can reference fonts and images.
*/

@font-face {
  font-family: 'MainRegular';
  font-weight: normal;
  src: local('MainRegular'),
    url(../fonts/BarlowSemiCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'MainBold';
  font-weight: bold;
  src: local('MainBold'),
    url(../fonts/BarlowSemiCondensed-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'MainItalic';
  font-weight: normal;
  src: local('MainItalic'),
    url(../fonts/BarlowSemiCondensed-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'DisplayRegular';
  font-weight: 400; /* normal */
  src: local('DisplayRegular'),
    url(../fonts/BarlowCondensed-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'DisplayMedium';
  font-weight: 600;
  src: local('DisplayMedium'),
    url(../fonts/BarlowCondensed-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'DisplayBold';
  font-weight: 600; /* bold would be: 700 */
  src: local('DisplayBold'),
    url(../fonts/BarlowCondensed-SemiBold.ttf) format('truetype');
}

/*---------------------------------------------------------
   SITE FONT STANDARDS
---------------------------------------------------------*/

/* VARIABLES */
html {
  --line-height-standard: 2.2rem;
  --line-height-double: 4.4rem;

  font-size: 10px;
  line-height: var(--line-height-standard);
  /*Safari specific change*/
  -webkit-text-size-adjust: none;
}

body {
  color: var(--color-text-primary);
  font-family: MainRegular, 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  line-height: var(--line-height-standard);
  margin: auto;
}

p strong {
  font-family: MainBold, 'Helvetica', 'Arial', sans-serif;
}

p em {
  font-family: MainItalic, 'Helvetica', 'Arial', sans-serif;
}

/* --------------------------------------------------------- */
/*   RESPONSIVE    */

@media screen and (max-width: 860px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 13px;
  }
}

/* --------------------------------------------------------- */

h1 {
  font-family: DisplayBold, 'Helvetica', 'Arial', sans-serif;
  font-size: 2.5rem;
  letter-spacing: 1px;
  /*line-height: var(--line-height-double);*/
  /*margin-top: $line-height-standard;*/
  /*margin-bottom: var(--line-height-standard);*/
  text-transform: uppercase;
}

h2 {
  font-family: DisplayBold, 'Helvetica', 'Arial', sans-serif;
  font-size: 4rem;
  letter-spacing: 1px;
  line-height: var(--line-height-double);
  /*margin-top: $line-height-standard;*/
  /*margin-bottom: var(--line-height-double);*/
  text-transform: uppercase;
}

h3 {
  font-family: DisplayMedium, 'Helvetica', 'Arial', sans-serif;
  font-size: 3.5rem;
  letter-spacing: 1px;
  /*line-height: var(--line-height-standard);*/
  /* margin-top: --line-height-standard;*/
  /*margin-bottom: var(--line-height-standard);*/
  text-transform: uppercase;
}

h4 {
  font-family: DisplayMedium, 'Helvetica', 'Arial', sans-serif;
  font-size: 2.8rem;
  /*line-height: var(--line-height-standard);*/
  /* margin-top: --line-height-standard;*/
  /* margin-bottom: 0;*/
}

h5 {
  font-family: DisplayRegular, 'Helvetica', 'Arial', sans-serif;
  font-size: 2.2rem;
  /*line-height: var(--line-height-standard);*/
  /* margin-top: --line-height-standard;*/
  /* margin-bottom: 0;*/
}

h6 {
  font-family: DisplayBold, 'Helvetica', 'Arial', sans-serif;
  font-size: 1.8rem;
  /*line-height: var(--line-height-standard);*/
  /* margin-top: --line-height-standard;*/
  /* margin-bottom: 0;*/
}

ul,
ol,
pre,
table,
blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  /*margin: 0.5rem 0;*/
}

/*//---------------------------------------------------------*/
/*//  SHARED ELEMENTS*/

a {
  text-decoration: none;
}

a.btn {
  /*color: var(--color-dark-grey);*/
  font-family: DisplayBold, 'Helvetica', 'Arial', sans-serif;
  /*font-size: 1.8rem;*/
  /*margin-top: var(--line-height-standard);*/
  /*margin-bottom: var(--line-height-standard);*/
  text-align: center;
}

/*//---------------------------------------------------------*/
