@import url('../styles.css');

#add-recipe {
  background-color: var(--color-highlight-light-bg);
  overflow: hidden;
  position: relative;
  padding: var(--padding-small);
  /*display: flex;*/
  /*flex: 1;*/
  /*margin-right: 0;*/
}

#add-recipe div:first-child {
  /*flex: 1 1;*/
  /*border: 1px solid black;*/
}

.add-recipe-title {
  /*max-width: var(--recipe-card-height);*/
  /*align-self: flex-end;*/
  /*border: 1px solid black;*/
  /*flex: 1 1;*/
}

.add-recipe-title h3 {
  margin: 0;
}

.add-recipe-icons {
  background-color: var(--color-highlight-light);
  border-radius: 50%;
  height: 21rem;
  width: 21rem;
  position: absolute;
  top: -4rem;
  right: -6rem;
  overflow: hidden;
}

.add-recipe-icons svg {
  position: absolute;
}

.add-recipe-icons svg:first-child {
  /* plate & cutlerly */
  width: 14rem;
  top: 7rem;
  left: 0.5rem;
}

.add-recipe-icons svg:last-child {
  /* plus sign */
  width: 8rem;
  height: 8rem;
  top: 7.4rem;
  left: 4rem;
  transition: 0.3s ease-in-out;
}

.add-recipe-icons svg:last-child:hover {
  color: var(--color-highlight-contrast);
  transform: scale(1.2);
}
