@import url('../styles.css');

#recipe-filter {
  form {
    //border: 1px solid black;
  }

  .filter-slider {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 7rem;
    background-color: var(--color-highlight-light-bg);
    padding: 0 var(--padding-small);
    margin-bottom: var(--padding-big);
    //position: relative;
    border-radius: var(--corner-radius);
    .input-range {
    }
  }

  .filter-slider input {
    /*-webkit-appearance: none; !* Hides the slider so that custom slider can be made *!*/
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
}

.filter-slider input[type='range'] {
  cursor: pointer;
  width: calc(100% - (2 * var(--padding-small)));
  position: absolute;
  top: 50%;
  left: var(--padding-small);
  transform: translateY(-50%);
}

/*input[type='range']::-webkit-slider-thumb {*/
/*  -webkit-appearance: none;*/
/*  border-radius: 50%;*/
/*}*/

/*input[type='range']:focus {*/
/*  !* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. *!*/
/*  outline: none;*/
/*  border: 1px solid red;*/
/*}*/

/*input[type='range']::-ms-track {*/
/*  width: 100%;*/
/*  cursor: pointer;*/

/*  !* Hides the slider so custom styles can be added *!*/
/*  background: transparent;*/
/*  border-color: transparent;*/
/*  color: transparent;*/
/*}*/

/* Styling the thumb */

/*input[type=range]::-webkit-slider-thumb {*/
/*  -webkit-appearance: none;*/
/*  background: var(--color-highlight-dark);*/
/*  box-shadow: 0 2px 2px var(--color-neutral-medium);*/
/*  border-radius: 50%;*/
/*  height: 2.6rem;*/
/*  width: 2.6rem;*/

/*  !* You need to specify a margin in Chrome, but in Firefox and IE it is automatic *!*/
/*  margin-top: -1.1rem;*/
/*}*/

/*!* All the same stuff for Firefox *!*/
/*input[type=range]::-moz-range-thumb {*/
/*  background: var(--color-highlight-dark);*/
/*  box-shadow: 0 2px 1px var(--color-neutral-medium);*/
/*  border-radius: 50%;*/
/*  height: 2.7rem;*/
/*  width: 2.7rem;*/

/*  cursor: pointer;*/
/*}*/

/*!* Styling the Track *!*/

/*input[type=range]::-webkit-slider-runnable-track {*/
/*  !*width: 100%;*!*/
/*  height: .5rem;*/
/*  cursor: pointer;*/
/*  background: var(--color-neutral-medium);*/
/*  !*animate: 0.2s;*!*/
/*}*/

/*!*input[type=range]:focus::-webkit-slider-runnable-track {*!*/
/*!*  background: var(--color-highlight-medium);*!*/
/*!*}*!*/

/*input[type=range]::-moz-range-track {*/
/*  !*width: 100%;*!*/
/*  height: .5rem;*/
/*  cursor: pointer;*/
/*  background: var(--color-neutral-medium);*/
/*}*/

/*input[type=range]::-ms-track {*/
/*  height: .5rem;*/
/*  cursor: pointer;*/

/*  background: transparent;*/
/*  border-color: transparent;*/
/*  border-width: 16px 0;*/
/*  color: transparent;*/
/*}*/
/*input[type=range]::-ms-fill-lower {*/
/*  background: var(--color-neutral-medium);*/
/*}*/

/*input[type=range]:focus::-ms-fill-upper {*/
/*  background: var(--color-neutral-medium);*/
/*}*/
