@import url('../styles.css');

.recipe-card {
  background-color: var(--color-neutral-light);
  border-radius: var(--corner-radius);
  height: var(--recipe-card-height);
  margin-bottom: var(--padding-medium);
  max-width: 48%;
  min-width: 26rem;
  /*width: 50%;*/
  margin-right: 1rem;

  transition: 0.3s ease-in-out;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex: 1;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px var(--color-neutral-medium);
}

.recipe-card-title {
  flex: 1 1;

  padding: var(--padding-small);
  height: calc((var(--recipe-card-height)) - 3.5rem);
  /*border: 1px solid black;*/
  max-width: var(--recipe-card-height);
  position: relative;
  display: flex;
  align-items: flex-end;
}

.recipe-card-title p {
  /* truncating the title ... */
  /*white-space: nowrap;*/
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
}

.recipe-card .recipe-thumb {
  height: 100%;
  width: var(--recipe-card-height);
  background-color: var(--color-neutral-medium);
  border-radius: var(--corner-radius);
  overflow: hidden;
  /*background: url(bglines.png);*/
}

/* ------------------------------------------------------------------------- */
/*   RESPONSIVE    */

@media screen and (max-width: 850px) {
  .recipe-card {
    max-width: 100%;
    margin-right: 0;
  }
}
