/* Global Styles */

@import url('./typography.css');
@import url('./resets.css');
@import url('./layout.css');

/* ------------------------------------------------------------------------- */
/*      V A R I A B L E S       */
/* ------------------------------------------------------------------------- */

html {
  /*  C O L O R S  */

  --color-bg: #fcfbf9;
  --color-white: #fff;

  --color-text-primary: #403e37;
  --color-text-secondary: #5a554d;

  --color-neutral-dark: #403e37;
  --color-neutral-dark-2: #5a554d;
  --color-neutral-medium: #a59b8e;
  --color-neutral-light: #f0e9e3;

  --color-highlight-dark: #0530bf;
  --color-highlight-medium: #4e69fb;
  --color-highlight-light: #91a2fd;
  --color-highlight-light-bg: #dce1fe;

  --color-highlight-contrast: orangered;

  /*  R A D I U S  */
  --corner-radius: 1.1rem;
}

/* ------------------------------------------------------------------------- */
/*      S H A R E D       */
/* ------------------------------------------------------------------------- */

.body {
  /*background-color: var(--color-bg);*/
}

.hidden {
  display: none;
}

svg {
  /* svgs are by default inline */
  display: block;
}

img {
  object-fit: cover;
  height: auto;
  width: 100%;
}

.icon-with-text {
  margin-bottom: var(--padding-small);
  display: flex;
  align-items: center;
  color: var(--color-neutral-dark-2);
}

.icon-with-text h6 {
  margin-left: 0.7rem;
}

.icon-with-text svg {
  display: inline;
}

/*  B U T T O N S  */

a {
  color: var(--color-text-primary);
}

a:visited {
  color: var(--color-text-primary);
}

a:hover {
  color: var(--color-highlight-contrast);
}

/*a.btn.primary,*/
/*a.btn.secondary {*/
/*  border-radius: var(--corner-radius);*/
/*}*/

a.btn.primary:hover {
  background-color: var(--color-highlight-dark);
}

a.btn.secondary {
  border: 1.5px solid var(--color-highlight-dark);
}

input[type='submit'] {
  color: white;
  cursor: pointer;
  background-color: var(--color-highlight-medium);
  border-radius: 3rem;
  padding: 0.5rem 3rem;
  outline: none;
}

input[type='submit']:hover {
  background-color: var(--color-highlight-dark);
}

input[type='submit']:active {
  background-color: var(--color-highlight-contrast);
}

/* ------------------------------------------------------------------------- */
/*      F O R M S       */
/* ------------------------------------------------------------------------- */
